.Heidelberg-Book
  max-width: 100%
  margin: 0 auto
  top: 50%
  margin-top: -150px
  background: #333

  &:before
    content: 'Click the cover to open'
    position: absolute
    width: 50%
    text-align: center
    top: 50%
    margin-top: -20px
    line-height: 22px
    font-size: 22px
    color: #777
