.Heidelberg-Book
  width: 800px
  max-width: 100%
  height: 300px
  margin: 0 auto 15px
  background: #333

.Heidelberg-Book:not(.with-Spreads)
  &:before
    content: 'Click the cover to open'
    position: absolute
    width: 50%
    text-align: center
    top: 50%
    margin-top: -20px
    line-height: 22px
    font-size: 22px
    color: #777
